<div class="container" >
  <section class="section header" >
    <h1>Employee Filter 9000</h1>
  </section>

  <!-- search section -->
  <section class="section card large" >
    <h2>Search</h2>
    <p>Find employees who's names begin with vowels</p>
    <!-- form bound to variable and function call to api which runs filter -->
    <!-- input rejects anything but positive integers -->
    <!-- conditional rendering for user profile -->
    <form #searchForm="ngForm" >
      <input
        type="number"
        placeholder="search by user id..."
        id="search"
        min="1"
        ngModel
        name="idSearch"
      >
      <!-- triggers function calls with value of input field -->
      <button for="search" type="submit" (click)="runScript(searchForm.value.idSearch)">Search</button>
    </form>
    <!-- display that user here -->
    <div class="card small" *ngIf="employee.found; else notFound">
      <h4>{{employee.name }}</h4>
    </div>
    <!-- display what is shown when a user isn't successfully searched here -->
    <ng-template #notFound>
      <div class="card small">
        <h4>{{searchMessage}}</h4>
      </div>
    </ng-template>
  </section>

  <!-- on load filtered results section -->
  <section class="section card large" >
    <h2>Pre Filtered</h2>
    <p>These Employees are between 22 and 28 and make over 1000, in order:</p>
  <!-- here map the employees with conditional rendering -->
    <div class="filtered" *ngIf="loadMessage.error === false; loader">
      <ul class="filtered" *ngFor="let employee of employees" >
        <li class="card small" *ngIf="employee.employee_age > 21 && employee.employee_age < 29 && employee.employee_salary > 1000; else nothing">
            <h4>{{employee.employee_name}}</h4>
        </li>
        <ng-template #nothing></ng-template>
      </ul>
    </div>
    <div #loader class='small' style="text-align: center;">
      {{loadMessage.message}}
    </div>
  </section>
</div>
